<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Sessions</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/activeSessions.css" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Open+Sans:wght@700&family=Quicksand&display=swap" rel="stylesheet" />

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="logo">
                <img src="images/JMI logo.jpeg" alt="jamia_logo" />
            </div>
            <a class="navbar-brand title" href="#">UNIVERSITY PLACEMENT CELL</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto ">
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="/">Profile</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link active" aria-current="page" href="/editProfile">Edit Profile</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/apply">Apply</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Logout</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="top">
      <h1 class="title">ACTIVE SESSIONS</h1>
    </div>
    
    <% if(jobs == "") { %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">No Active Sessions</h4>
            <p>There are no active sessions at the moment. Please check back later.</p>
          </div>
        </div>
      </div>
    </div>
    <% } else { %>

      <div class="list-group">
        <% jobs.forEach((job) => { %>
          
        <!-- <a href="/job/<%= job.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= job.jobName %></h5>
            <small>India</small>
          </div>
          <p class="mb-1">job descption</p>
          <small>period</small>
        </a> -->
          <br>
          <!-- button hidden submit -->
            <!-- <button type="submit" class="btn btn-primary" style="display:none;"></button> onclick="document.getElementById('apply-form-<%= job.job_id %>').submit() -->
          <a href="/apply/<%= job.job_id %> "
           class="list-group-item list-group-item-action d-flex gap-3 py-3" 
           aria-current="true">
            <img src="<%= job.logo_link %>" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0"> 

            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0"><%= job.title %> </h6>
                <p class="mb-0 opacity-75"><%=job.name%></p>
                <% if (job.applied == true) { %>
                  <% if (job.status == "Applied") { %> 
                    <p class="mb-0 opacity-75">Applied</p>
                  <% } else if (job.status == "Rejected") { %>
                    <!-- reject with color red -->
                    <p class="mb-0 opacity-75" style="color:red;">Rejected</p>
                  <% } else if (job.status == "Accepted") { %>
                    <!-- Bold select with color green -->
                    <p class="mb-0 opacity-90" style="color:green;">Accepted</p>
                  <% } %>
                <% } else { %>
                  <p class="mb-0 opacity-75">Not Applied</p>
                <% } %>  
              </div>
              <small class="opacity-50 text-nowrap"><%= job.location %> </small>
            </div>
          </a>
  
         <% }) %>
      </div>
    <% } %>

    <div class="offers">
      <button class="btn btn-success">
        <a class="application" href="/"> Back to Homepage</a>
      </button>
    </div>
    
    <script src="js/activeSessions.js"></script>
    </body>
</html>