<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <title>Application Form</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">UNIVERSITY PLACEMENT CELL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/active">Active Sessions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/apply">Apply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login">Logout</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
    <div class="container mt-5">
        <h1>Application Form for  <%=company.name %></h1>
        <form action="" class="row g-3">
            <div class="col-md-8">
                <label for="Name" class="form-label">Name</label>
                <input type="text" value="<%=user.fullname %> " class="form-control" id="Name" required>
            </div>
            <!-- <div class="col-md-4">
                <label for="middleName" class="form-label">Middle Name</label>
                <input type="text" class="form-control" id="middleName" required>
            </div>
            <div class="col-md-4">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" required>
            </div> -->
            <div class="col-md-8">
                <label for="emailInfo" class="form-label">Email ID</label>
                <input type="email" value="<%=user.email %> " class="form-control" id="emailInfo" required>
            </div>
            <div class="col-md-4">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input name="contact" type="text" value="<%=userdetails.contact %> "  class="form-control" id="phoneNumber" placeholder="+91 1234567890" required>
            </div>
            <div class="col-md-4">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" class="form-control">
                    <option value="" selected disabled hidden><%=userdetails.gender %></option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="nationality" class="form-label">Nationality</label>
                <input type="text" class="form-control" id="nationality">
            </div>
            <div class="col-md-12">
                <label for="address" class="form-label">Permanent Address</label>
                <input value="<%=userdetails.address %> " type="text" class="form-control" id="address" required>
            </div>
            
            <hr>

            <div class="col-md-8">
                <label for="course" class="form-label">Course</label>
                <input type="text" class="form-control" id="course" required>
            </div>
            <div class="col-md-4">
                <label for="yearGraduation" class="form-label">Year of Graduation</label>
                <input type="text" class="form-control" id="yearGraduation" required>
            </div>
            <div class="col-md-6">
                <label for="department" class="form-label">Department</label>
                <input type="text" class="form-control" id="department" required>
            </div>
            <div class="col-md-6">
                <label for="branch" class="form-label">Branch</label>
                <input value="<%=userdetails.branch %> " type="text" class="form-control" id="branch" required>
            </div>
            <div class="col-md-4">
                <label for="avgGPA" class="form-label">GPA</label>
                <input value="<%=userdetails.avgGPA %> " type="text" class="form-control" id="avgGPA" required>
            </div>
            <div class="col-md-8">
                <label for="resume" class="form-label">resume</label>
                <input value="<%=userdetails.resume %> " type="url" class="form-control" id="faculty" required>
            </div>
        </form>
        <div class="row mt-5">
            <div class="col-md-12">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </div>
</body>
</html>